<footer>
    <p>Made with 🤬 and 🥲 by <a href="https://www.toddgriffin.me/">Todd Everett Griffin</a></p>

    <p><a href="https://plausible.io/{{project.analytics_domain}}">Analytics</a> | <a href="{{project.uptime_domain}}">Uptime</a></p>

    <p><small>Copyright © {{footer.copyright.start}} - {{footer.copyright.end}} {{metadata.author}}&ensp;|&ensp;All rights reserved.</small></p>
</footer>
